.navbar{
position:fixed;
top:15px;
left:50%;
transform:translateX(-50%);
width:92%;
max-width:1300px;
height:72px;
padding:0 24px;
display:flex;
justify-content:space-between;
align-items:center;
z-index:9999;

background:rgba(255,255,255,.08);
border:1px solid rgba(255,255,255,.12);
backdrop-filter:blur(16px);
border-radius:20px;
box-shadow:0 12px 30px rgba(0,0,0,.18);
}

.nav-logo{
font-size:28px;
font-weight:900;
color:#fff;
}

.nav-logo span{
color:#60a5fa;
}

.menu-toggle{
display:none;
width:46px;
height:46px;
border:none;
border-radius:14px;
background:linear-gradient(135deg,#2563eb,#7c3aed);
color:#fff;
font-size:22px;
cursor:pointer;
}

.nav-menu{
display:flex;
align-items:center;
gap:26px;
}

.nav-menu a{
color:#e5e7eb;
font-weight:600;
position:relative;
transition:.3s;
}

.nav-menu a:hover{
color:#fff;
}

.nav-menu a::after{
content:"";
position:absolute;
left:0;
bottom:-6px;
width:0%;
height:2px;
background:#60a5fa;
transition:.3s;
}

.nav-menu a:hover::after{
width:100%;
}

.nav-btn{
padding:12px 20px;
border-radius:30px;
background:linear-gradient(135deg,#2563eb,#7c3aed);
color:#fff !important;
}

.nav-btn::after{
display:none;

}

.nav-actions{
display:flex;
gap:12px;
align-items:center;
}

.register-btn{
background:#111827 !important;
color:white !important;
}

/* MOBILE */

/* MOBILE */

@media(max-width:768px){

.navbar{
width:94%;
padding:0 16px;
height:68px;
border-radius:18px;
}

.nav-logo{
font-size:22px;
}

.menu-toggle{
display:flex;
align-items:center;
justify-content:center;
width:42px;
height:42px;
font-size:20px;
}

.nav-menu{
display:none;
position:absolute;
top:82px;
left:0;
width:100%;
padding:18px;
border-radius:18px;
flex-direction:column;
background:#111827;
border:1px solid rgba(255,255,255,.08);
box-shadow:0 12px 25px rgba(0,0,0,.25);
gap:14px;
}

.nav-menu.active{
display:flex;
animation:slideDown .3s ease;
}

.nav-menu a{
width:100%;
text-align:center;
padding:14px;
background:#1f2937;
border-radius:12px;
font-size:15px;
}

.nav-actions{
width:100%;
display:flex;
flex-direction:column;
gap:14px;
}

.nav-btn,
.register-btn{
width:100%;
text-align:center;
}

}

/* ANIMATION */

@keyframes slideDown{

from{
opacity:0;
transform:translateY(-10px);
}

to{
opacity:1;
transform:translateY(0);
}

}